body {
	margin: 0;
	background: #545863;
	overflow: hidden;
}

.slider {
	display: block;
	margin: 0px;
}

.main {
	width: 80vw;
	margin: 0 10vw;
	padding-top: 60px;
}

.main h1 {
	text-align: center;
	font-size: 66px;
	color: #00E8FC;
	margin: 0px 0 20px 0;
}

.slider img {
	width: 100vw;
}

.thing {
	margin: 0;
	width: 100%;
	text-decoration: none;
	color: black;
	font-size: 40px;
}

.navbar {
	z-index: 1;
	position:fixed;
	display: inline-block;
	width:100%;
	font-size: 20px;
	background: #353535;
	padding: 0px;
	margin: 0px;
}

.navbar a {
	text-decoration: none;
	color: white;
	text-align: center;
	height: 25px;
	padding: 10px;
	float: left;
}

.navbar a:hover {
	background: white;
	color: black;
}

.active {
	background: #86bbd8;
}

.prev {
	display: block;
	float: left;
	height: 50px;
	width: 50px;
	position: relative;
	z-index: 1;
	top: -950px;
	left: 5vw;
	background: url('left.png') 50% 0 no-repeat;
	background-size: cover;
}

.next{
	height: 50px;
	width: 50px;
	position: relative;
	z-index: 1;
	top: -950px;
	left: 92vw;
	background: url('right.png') 50% 0 no-repeat;
	background-size: cover;
}

.info {
	background: #7D98A1;
	border-radius: 10px;
	padding: 10px;
	position: absolute;
	text-align: center;
	top: 250px;
	margin-left: 410px;
	width: 400px;
}